{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include 'include/header.html' %}

    <div class="d-flex">

        {% include 'include/siderbar.html' %}

        <!-- Main Content -->
        <main class="flex-grow-1 p-4">
            {% block content %}
            <h1>Bienvenido al Dashboard</h1>
            <p>Aquí puedes administrar tus datos.</p>
            {% endblock %}
        </main>
    </div>

    {% include 'include/footer.html' %}

    {% bootstrap_javascript jquery="full" %}
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>